.content {
    --background: rgb(255, 255, 255);
    --background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 10%,
        rgba(123, 241, 255, 1) 90%
    );
}

.instructions {
    text-align: center;
    margin: 2vh 10vw;
}

.container {
    height: fit-content;
    margin: 5vh 5vw;
}

.container img {
    width: 100%;
    height: inherit;
}

.playbutton {
    text-align: center;
    margin-bottom: 10vh;
}

.alert {
    --background: rgb(255, 185, 32)
}

.details {
    background-color: white;
    margin: 5vh 4vw;
    border-radius: 10px;
}
  